* { margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif;}

html { font-size: 62.5%; }

body {
    font-size: 100%;
    background: #F3F3F3;
    text-align: center;
}

div.box {
    position: absolute;
    border: 1px solid #C0C4C0;
    width: 450px;
    height: 350px;
    left: 50%;
    top: 50%;
    margin-top: -160px;
    margin-left: -450px;
    text-align: left;
    background-color: #FFF;
    background-image: url('../images/404.jpg');
    background-repeat: no-repeat;
    background-position: -90px 0px;
    padding-left: 400px;
    padding-right: 30px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
}
h1,h2 {
    font-size: 210%;
    font-weight: normal;
    display: block;
    margin-bottom: 30px;
}
img {
    display: block;
    margin-top: 35px;
    margin-bottom: 20px;
    height: 56px;
}
a, a:visited {
    color: #2CB0FF;
}
p {
    font-size: 125%;
    margin-top: 12px;
}
p.inner-box {
    background: #EEF7F8;
    padding: 12px 8px 12px 8px;
    display: inline;
}
p.error {
    margin-top: 24px;
    margin-left: 8px;
}